body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 120%;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 2;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}



/******************** CLASS SELECTORS *************************/
.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.Test {
    text-decoration: underline;
}

.intro {
    width: 45%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.container {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: grey;
}

.profile-picture {
    width: 200px;
    height: 200px;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    top: 450px;
    left: 400px;
    bottom: 500px;
}

.python-image {
    width: 15%;
    float: left;
    margin-right: 30px;
}

.photo-image {
    width: 15%;
    float: right;
    margin-left: 30px;
}

.BUTTON_GIA {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #ffffff;
   font-family: 'Montserrat', sans-serif;
   font-size: 30px;
   font-weight: 100;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 50px auto auto auto;
}
